 {% extends 'header.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
        <form action="/addproduct/" class="form-horizontal" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="form-group">
            <label for="id_name">Name:</label>
            <input type="text" name="name"  class="form-control" maxlength="50" required="" id="id_name">
            </div>

            <div class="form-group">
            <label for="id_category">Category:</label>
            <input type="text" name="category"  class="form-control" maxlength="50" required="" id="id_category">
            </div>

            <div class="form-group">
            <label for="id_half_price">Half price:</label>
            <input type="number" name="half_price"  class="form-control" step="0.01" required="" id="id_half_price">
            </div>

            <div class="form-group">
            <label for="id_full_price">Full price:</label>
            <input type="number" name="full_price"  class="form-control" step="0.01" required="" id="id_full_price">
            </div>

            <div class="form-group">
            <label for="id_availabilty">Availabilty:</label>
            <input type="checkbox" name="availabilty"  class="form-control" id="id_availabilty" checked="">
            </div>

            <div class="form-group">
            <label for="id_image">Image URL:</label>
            <input type="file" name="image"  class="form-control" required="" id="id_image">
            </div>

            <div class="form-group">
            <label for="id_special_status">Special status:</label>
            <input type="checkbox" name="special_status"  class="form-control" id="id_special_status">
            </div>

            <div class="form-group">
            <label for="id_hotel">Hotel:</label>
            <select name="hotel"  class="form-control" required="" id="id_hotel">
                <option value="" selected="">Choose Hotel</option>
                {% for i in hotel %}
                     <option value={{i.id}}>{{i.name}}</option>
                {% endfor %}
            </select>
            </div>

            <br>
                <input class="btn btn-primary" type="submit" value="Submit">
        </form>
                </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            </div>
    </div>
  {% endblock %}