{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>FoodCart</title>
    <style>
       body {
            position: relative; 
          }
          .carousel-inner > .item > img{
        margin:auto;
        width:100%  
        }
    </style>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="root">
    </div>
      {% render_bundle 'main' %}
  </body>
</html>