<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations | FoodCart app</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">
     <table class="table table-responsive">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>Edit/Delete</th>
            </tr>

         {% for i in location_list %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.state}}</td>
                <td><a href="/{{i.id}}/editLocation">Edit/</a><a href="/{{i.id}}/deleteLocation">Delete</a></td>
            </tr>

    {% endfor %}

     </table>
    </div>
</body>
</html>